@import "tailwindcss";

:root {
  --background: #ecfeff;
  --foreground: #083344;
  --primary: #06b6d4;
  --card: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

@layer components {
  .app-card {
    @apply bg-card rounded-xl p-4 shadow-sm;
  }

  .app-btn {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:opacity-90 cursor-pointer;
  }

  .app-gradient-default {
    @apply bg-linear-to-r from-cyan-300 via-blue-500 to-cyan-600 bg-clip-text text-transparent;
    background-size: 300% 300%;
    animation: gradient-move 6s ease-in-out infinite;
  }
  
  .app-gradient-sunny {
    @apply bg-linear-to-r from-yellow-300 via-orange-400 to-pink-400 bg-clip-text text-transparent;
    background-size: 200% 200%;
    animation: gradient-move 6s ease-in-out infinite;
  }

  .app-gradient-stormy {
    @apply bg-linear-to-r from-gray-700 via-gray-800 to-gray-900 bg-clip-text text-transparent;
    background-size: 200% 200%;
    animation: gradient-move 6s ease-in-out infinite;
  }

  .app-gradient-rainy {
    @apply bg-linear-to-r from-blue-400 via-cyan-500 to-indigo-600 bg-clip-text text-transparent;
    background-size: 200% 200%;
    animation: gradient-move 6s ease-in-out infinite;
  }

  .app-gradient-cloudy {
    @apply bg-linear-to-r from-gray-400 via-gray-500 to-gray-600 bg-clip-text text-transparent;
    background-size: 200% 200%;
    animation: gradient-move 6s ease-in-out infinite;
  }

  .app-gradient-snowy {
    @apply bg-linear-to-r from-blue-200 via-gray-300 to-white bg-clip-text text-transparent;
    background-size: 200% 200%;
    animation: gradient-move 6s ease-in-out infinite;
  }

  .app-gradient-drizzle {
    @apply bg-linear-to-r from-blue-300 via-blue-400 to-blue-500 bg-clip-text text-transparent;
    background-size: 200% 200%;
    animation: gradient-move 6s ease-in-out infinite;
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
