@import "tailwindcss";

:root {
  --background: #ecfeff;
  --foreground: #083344;
  --primary: #06b6d4;
  --card: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

@layer components {
  .app-card {
    @apply bg-card rounded-xl p-4 shadow-sm;
  }

  .app-btn {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:opacity-90 cursor-pointer;
  }

  .app-gradient-text {
    @apply bg-linear-to-r from-cyan-400 via-blue-500 to-purple-500 bg-clip-text text-transparent;
    background-size: 300% 300%;
    animation: gradient-move 6s ease-in-out infinite;
  }

  .app-gradient-text:hover {
    animation-play-state: paused;
  }

}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
